.app-container {
  display: flex;
}

.map-wrap {
    position: relative;
    width: 100%;
    height: 100vh; /* calculate height of the screen minus the heading */
  }
  
.map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

.menu {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
}

.alert-widget {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 400;
}

.main-display {
  flex-grow: 1;
  border-radius: 15px;
  position: absolute;
  left: 88px;
  top:62px;
  bottom:20px;
  right:20px;
  background-color: white;
  width: calc(100%-89px);
  height: calc(100%-63px);
}

.nav-bar {
  flex-grow: 1;
}

nav {
  flex-grow: 1;
  justify-content: space-between;
  width: 80%; /* adjust the width to your liking */
}